html,
body {
    padding: 20px;
    background-image: url(/image/background7.jpg);
    background-attachment: fixed;
    background-position: center center;
}

body {
    font-family: fantasy;
    font-size: 14px;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 1000px;
    margin: 0 auto;
    box-sizing: content-box;
    margin-left: 600px;
}

a:visited, .tittle_menu , .tittle_block {
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

li::marker {
    color: rgb(255, 255, 255);
}

.title,
.subtitle {
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.menu_title {
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.block_title {
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(0, 0, 0);

}

.header_logotip {
    display: inline-block;
    padding: 5px;
    font-size: 15px;
    border-radius: 20px;
    width: 319px;
    text-align: center;
    margin-top: 20%;
    background-image: linear-gradient(3000deg, purple, black);

}

.header_slogan {
    display: inline-block;
    padding: 5px;
    font-size: 15px;
    border-radius: 20px;
    margin-left: 4px;
    width: 318px;
    text-align: center;
    margin-top: 20%;
    background-image: linear-gradient(2000deg, purple, black);
}

.work-area {
    font-size: 10;
    padding-bottom: 60px;
    display: flex;
}

.sidebar {
    font-size: 20px;
    padding: 15px;

}

.sidebar {
    margin-top: 5px;
    width: 30%;
    background-color: rgb(117, 181, 224);
    border-radius: 15px;
    text-align: center;
    background-image: linear-gradient(3000deg, black, cyan);
}

.sidebar2 {
    margin-top: 5px;
    width: 30%;
    background-color: rgb(117, 181, 224);
    border-radius: 15px;
    margin-left: 5px;
    padding: 16px;
    font-size: 20px;
    text-align: center;
    background-image: linear-gradient(2000deg, black, cyan);
}